{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partial/header.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <small class="pull-right mt-20">REF: <input type="text" readonly value="{{ account.username }}/{{ info.project.id }}" style="width: 300px" onfocus="this.select()"></small>
                <h1>Project: "{{ info.project.name }}"</h1>
                <hr />

                {% if info.newMessages|length %}
                    <h2>New Messages</h2>
                    {% include 'partial/messages.html.twig' with {messages: info.newMessages}  %}
                {% endif %}

                <h2>Existing Messages</h2>
                {% include 'partial/messages.html.twig' with {messages: info.existingMessages}  %}

                <input type="hidden" id="parameters"
                    data-url="{{ path('translate', {projectId: info.project.id, domain: info.domain, locale: info.locale}) }}"
                />
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
{% endblock %}