<nav class="clearfix">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home</a>
            </li>

            {% if app.user and app.user.translations.projects %}
            <li>
                <a href="{{ path('project.list') }}"><i class="fa fa-files-o"></i> Projects</a>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('user.list') }}"><i class="fa fa-users"></i> Users</a>
                </li>
            {% endif %}
        </ul>

        {% if info is defined and info %}
            <div class="nav navbar-nav mt-15 ml-20" style="color: #000000;">
                <form action="{{ path('homepage') }}" method="get">
                    <select id="project" name="project" data-control>
                        {% for project in app.user.translations.projects %}
                            <option value="{{ project.id }}" {% if info.project.id == project.id %} selected="selected" {% endif %}>{{ project.name }}</option>
                        {% endfor %}
                    </select>
                    <select id="domain" name="domain" data-control>
                        {% for domain in info.project.getDomains %}
                            <option value="{{ domain }}" {% if info.domain == domain %} selected="selected" {% endif %}>{{ domain }}</option>
                        {% endfor %}
                    </select>

                    <select id="lang" name="lang" data-control>
                        {% for lang in info.project.getLocales(info.domain) %}
                            <option value="{{ lang }}" {% if info.locale == lang %} selected="selected" {% endif %}>{{ lang }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        {% endif %}

        <ul class="nav navbar-nav navbar-right mr-20">
            {% if app.user %}
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> {{ app.user.username }}
                        <span class="fa fa-caret-down caret-dropdown caret-color"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
