{% for id, message in messages %}
    <div class="row">
        <div class="col-xs-4">
            <code>{{ id }}</code>
        </div>
        <div class="col-xs-4">
            <textarea data-trans-id="{{ id }}" style="width: 98%">{{ message.localeString }}</textarea>
        </div>
        <div class="col-xs-4">
            {% if message.meaning is not empty %}
                <h6>Meaning</h6>
                <p>{{ message.meaning }}</p>
            {% endif %}
            {% if info.alternativeMessages[id] is defined %}
                        <h6>Alternative Translations</h6>
                        {% for locale, altMessage in info.alternativeMessages[id] %}
                        <p>
                            <strong>{{ locale }}:</strong> <pre>{{ altMessage.localeString }}</pre>
                        </p>
                        {% endfor %}
                    {% endif %}

            {% if message.sources|length > 0 %}
                <h6>Sources</h6>
                <ul>
                    {% for source in message.sources %}
                        <li>{{ source }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if message.desc is not empty
                    and message.localeString != message.desc
                    and id != message.desc
                    and (alternativeMessages[id][sourceLanguage] is not defined
                    or alternativeMessages[id][sourceLanguage].localeString != message.desc)
            %}
                <h6>Description</h6>
                <p>{{ message.desc }}</p>
            {% endif %}
        </div>
    </div>
    <hr/>
{% endfor %}
